.footer__column-link {
  text-decoration: none;
  color: white;
  position: relative;
  display: block;
  text-decoration: none;
  color: white;
  margin-bottom: 5px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 400;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.footer__column-link::after {
  position: absolute;
  bottom: 1px;
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background-color: white;
  opacity: 0;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.footer__column-link:hover::after{
  opacity: .7;
}

.footer__column-link:hover{
  opacity: .7;
}
