.feinman__link {
  position: absolute;
  top: 44%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: 400;
  text-decoration: none;
  color: black;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}

.feinman__link::after {
  position: absolute;
  bottom: 1px;
  content: "";
  display: block;
  height: 3px;
  width: 100%;
  background-color: black;
  opacity: 0;
  -webkit-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}

.feinman__link:hover::after{
  opacity: .7;
}

.feinman__link:hover{
  opacity: .7;
}
