.header__link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #2F80ED;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.header__link::after {
  position: absolute;
  bottom: 1px;
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background-color: #2F80ED;
  opacity: 0;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.header__link:hover::after{
  opacity: .7;
}

.header__link:hover{
  opacity: .7;
}
