.resources__logo {
  width: 270px;
  height: 38px;
  display: block;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.resources__logo:hover {
  background-color: #2f80ed;
}
