.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  background-color: #F2F2F2 ;
  position: relative;
  display: -webkit-box;
  display: flex;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2F80ED;
  position: absolute;
  right: 0;
  top: 64px;
}

.header__title {
  width: 730px;
  align-self: center;
  font-size: 102px;
  line-height: 96px;
  font-weight: 600;
  margin-left: 64px;
}

.header__subtitle {
  position: absolute;
  width: 390px;
  bottom: 30px;
  left: 64px;
  line-height: 25px;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  z-index: 1;
}

.header__link {
  display: inline-block;
  text-decoration: none;
  color: #2F80ED;
}

.header__link::after {
  position: absolute;
  bottom: 1px;
  content: "";
  display: block;
  height: 2px;
  width: 15%;
  background-color: #2F80ED;
  opacity: 0;
  transition: all .3s ease-in-out;
}

.header__link:hover::after{
  opacity: .7;
}

.header__link:hover{
  opacity: .7;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.logo {
  width: 183px;
  height: 32px;
}

.logo_place_header {
  position: absolute;
  background-image: url(../images/logo.svg);
  top: 30px;
  left: 64px;
  z-index: 1;
}

.logo_place_footer {
  position: absolute;
  background-image: url(../images/logo_white.svg);
  top: 0;
  left: 0;
  z-index: 1;
}

.description {
  padding: 100px 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
}

.two-columns {
  width: 80%;
  min-width: 784px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.two-columns__brief {
  width: 175px;
  color: #2F80ED;
  line-height: 1.2;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}

.main-text {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 80%;
}

.two-columns__paragraph {
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: 400;
}

.two-columns__paragraph_padding {
  padding: 30px 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

.digits {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-bottom: 100px;
}

.table {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 1100px;
}

.table__cell {
  width: 250px;
  padding-top: 60px;
}

.table__cell_theme_dark {
  width: 200px;
  padding-top: 80px;
  color: white;
  position: relative;
}

.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__text {
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: 400;
  padding-top: 20px;
}

.section-title {
  margin: 0;
  line-height: 69px;
  font-size: 60px;
  font-weight: 600;
  width: 60%;
  text-align: center;
}

.section-title_theme_dark {
  color: white;
  position: relative;
}

.section-subtitle {
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: 400;
  width: 60%;
  text-align: center;
  padding-top: 20px;
}

.section-subtitle_theme_dark {
  color: white;
  position: relative;
}

.feinman {
  background-color: #F2F2F2;
  position: relative;
  min-height: 890px;
}

.feinman__image {
  position: absolute;
  bottom: 0;
  left: 0;
}

.feinman__title {
  position: relative;
  margin: 0 auto;
  padding-top: 100px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  width: 648px;
  text-align: center;
}

.feinman__subtitle {
  position: relative;
  margin: 0 auto;
  text-align: center;
  padding-top: 70px;
  line-height: 51px;
  font-size: 36px;
  font-weight: 400;
}

.feinman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: 400;
  text-decoration: none;
  color: black;
}

.feinman__link::after {
  position: absolute;
  bottom: 1px;
  content: "";
  display: block;
  height: 3px;
  width: 81%;
  background-color: black;
  opacity: 0;
  transition: all .3s ease-in-out;
}

.feinman__link:hover::after{
  opacity: .7;
}

.feinman__link:hover{
  opacity: .7;
}

.kaufman {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  background-color: #1F1F1F;
  padding: 90px 0;
  position: relative;
  overflow: hidden;
}

.kaufman__triangle {
  position: absolute;
  top: 0;
  right: -210px;
}

.footer {
  padding: 60px 0 40px;
  background-color: #000000;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  min-height: 350px;
}

.footer__columns {
  width: 90%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.footer__column {
  position: relative;
  color: white;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: -webkit-box;
  display: flex;
}

.footer__author {
  align-self: flex-end;
  height: 30px;
  margin: 0;
  padding-bottom: 18px;
  line-height: 25px;
  font-size: 18px;
  font-weight: 400;
}

.footer__column-heading {
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 20px;
}

.footer__column-links {
  position: relative;
  display: block;
  text-decoration: none;
  color: white;
  margin-bottom: 5px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 400;
}

.footer__column-links:nth-of-type(1)::after {
  position: absolute;
  bottom: 1px;
  content: "";
  display: block;
  height: 2px;
  width: 58%;
  background-color: white;
  opacity: 0;
  transition: all .3s ease-in-out;
}

.footer__column-links:nth-of-type(2)::after {
  position: absolute;
  bottom: 1px;
  content: "";
  display: block;
  height: 2px;
  width: 75%;
  background-color: white;
  opacity: 0;
  transition: all .3s ease-in-out;
}

.footer__column-links:nth-of-type(3)::after {
  position: absolute;
  bottom: 1px;
  content: "";
  display: block;
  height: 2px;
  width: 82%;
  background-color: white;
  opacity: 0;
  transition: all .3s ease-in-out;
}

.footer__column-links:hover::after{
  opacity: .7;
}

.footer__column-links:hover{
  opacity: .7;
}

.footer__social-icon {
  position: relative;
  display: block;
  text-decoration: none;
  color: white;
  margin-bottom: 5px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 400;
}

.footer__social-icon:nth-of-type(1)::after {
  position: absolute;
  bottom: 1px;
  content: "";
  display: block;
  height: 2px;
  width: 93%;
  background-color: white;
  opacity: 0;
  transition: all .3s ease-in-out;
}

.footer__social-icon:nth-of-type(2)::after {
  position: absolute;
  bottom: 1px;
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background-color: white;
  opacity: 0;
  transition: all .3s ease-in-out;
}

.footer__social-icon:nth-of-type(3)::after {
  position: absolute;
  bottom: 1px;
  content: "";
  display: block;
  height: 2px;
  width: 93%;
  background-color: white;
  opacity: 0;
  transition: all .3s ease-in-out;
}

.footer__social-icon:hover::after{
  opacity: .7;
}

.footer__social-icon:hover{
  opacity: .7;
}

.footer__social-icon:nth-of-type(1)::before {
  content: url(../images/facebook_white.svg);
  padding-right: 10px;
}

.footer__social-icon:nth-of-type(2)::before {
  content: url(../images/vk_white.svg);
  padding-right: 10px;
}

.footer__social-icon:nth-of-type(3)::before {
  content: url(../images/instagram_white.svg);
  padding-right: 10px;
}



